<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/error.css">
</head>

<body>
    <div class="container">
        <%- include ('../partials/sider') %>
            <div class="wrap">
                <div class="content">
                    <i class="fa-solid fa-face-tired"></i>
                    <span>
                        <%= mes %>
                    </span>
                </div>
            </div>
    </div>
</body>

</html>