<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/filter.css">
        <script src="/js/filter.js"></script>
</head>

<body>
    <%- include ('../partials/header') %>
        <div class="wrap">

            <div class="content">
            </div>

        </div>
        <%- include ('../partials/footer') %>
</body>

</html>