<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/book.css">
        <script defer src="/js/home.js"></script>
</head>

<body>
    <div class="container">
        <%- include('../partials/sider')%>

            <div class="wrap">
                <div id="search" class="search-box">

                    <input id="searchInput" type="search" placeholder="Tìm kiếm...">
                    <i id="searchBtn" class="fa-solid fa-magnifying-glass"></i>
                </div>

                <div class="filter-box">
                    <div>
                        <input id="name" type="radio" value="intitle" name="filter" checked>
                        <label for="name"><span class="text">Tên</span></label>

                    </div>
                    <div>
                        <input id="author" type="radio" value="inauthor" name="filter">
                        <label for="author"><span class="text">Tác giả</span></label>

                    </div>
                    <div>
                        <input id="pulisher" type="radio" value="inpublisher" name="filter">
                        <label for="pulisher"><span class="text">Nhà xuất bản</span></label>

                    </div>
                </div>

                <div class="content">
                    <div class="subject" id="education">
                        <div class="subject-title"><span> Educaition :</span>
                            <a href="/filter?subject=education">
                                <span>Xem thêm</span>
                            </a>
                        </div>
                        <div class="subject-content">
                            <div class="loading">
                                <div class="lds-ellipsis">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subject" id="novels">
                        <div class="subject-title"><span> Novels :</span>
                            <a href="/filter?subject=novel">
                                <span>Xem thêm</span>
                            </a>
                        </div>
                        <div class="subject-content">
                            <div class="loading">
                                <div class="lds-ellipsis">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="subject" id="cooking">
                        <div class="subject-title"><span> Cooking :</span>
                            <a href="/filter?subject=cooking">
                                <span>Xem thêm</span>
                            </a>
                        </div>
                        <div class="subject-content">
                            <div class="loading">
                                <div class="lds-ellipsis">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="subject" id="travel">
                        <div class="subject-title"><span> Travel :</span>
                            <a href="/filter?subject=travel">
                                <span>
                                    Xem thêm
                                </span>
                            </a>
                        </div>
                        <div class="subject-content">
                            <div class="loading">
                                <div class="lds-ellipsis">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="subject" id="manga">
                        <div class="subject-title"><span> Comics :</span>
                            <a href="/filter?subject=comics">
                                <span>Xem thêm</span>
                            </a>
                        </div>
                        <div class="subject-content">
                            <div class="loading">
                                <div class="lds-ellipsis">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
    </div>

</body>

</html>