<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/home.css">
        <script defer src="/js/home.js"></script>
</head>

<body>
    <%- include ('../partials/header') %>
        <div class="wrap">

            <div class="content">
                <div class="subject" id="education">
                    <div class="subject-title"><span> Giáo Dục :</span><a><span>Xem thêm</span></a></div>
                    <div class="subject-content">
                        <div class="loading">
                            <div class="lds-ellipsis">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="subject" id="novels">
                    <div class="subject-title"><span>Tiểu Thuyết :</span><a><span>Xem thêm</span></a></div>
                    <div class="subject-content">
                        <div class="loading">
                            <div class="lds-ellipsis">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="subject" id="cooking">
                    <div class="subject-title"><span>Nấu Ăn :</span><a><span>Xem thêm</span></a></div>
                    <div class="subject-content">
                        <div class="loading">
                            <div class="lds-ellipsis">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="subject" id="travel">
                    <div class="subject-title"><span>Du Lịch :</span><a><span>Xem thêm</span></a></div>
                    <div class="subject-content">
                        <div class="loading">
                            <div class="lds-ellipsis">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="subject" id="manga">
                    <div class="subject-title"><span>Truyện Tranh :</span><a><span>Xem thêm</span></a></div>
                    <div class="subject-content">
                        <div class="loading">
                            <div class="lds-ellipsis">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <%- include ('../partials/footer') %>
</body>

</html>