<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/not_found.css">
</head>

<body>
    <%- include ('../partials/header') %>
        <div class="wrap">

            <div class="content">
                <i class="bi bi-emoji-frown"></i>
                <span>Không tìm thấy mã sách này </span>
                <a href="/home"><span>Trở về trang chủ</span></a>
            </div>

        </div>
        <%- include ('../partials/footer') %>
</body>

</html>