 /*css theme narbar sider*/

 :root {

     --font-laptop-title: 24px;
     --font-mobile-title: 40px;
     --font-laptop-text: 14px;
     --font-mobile-text: 32px;
     --font-laptop-icon: 32px;
     --font-mobile-icon: 64px;
     --waring: red;
     /*Color*/
     --body-color: #E4E9E7;
     --siderbar-color: #fff;
     --primary-color: #695cfe;
     --text-color: #707070;
     --primary-color-light: #f6f5ff;
     --toggle-color: #ddd;
 }

 body {
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     position: relative;
     height: 100vh;
 }

 body.dark {
     --body-color: #18191a;
     --siderbar-color: #242526;
     --primary-color: #e3e4e5;
     --text-color: #ccc;
     --primary-color-light: #38393a;
     --toggle-color: #18191a;
 }


 * {
     margin: 0;
     box-sizing: inherit;
 }

 a {
     text-decoration: none;
 }


 .container {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: row;
     background: var(--body-color);
 }



 .wrap {
     display: flex;
     flex-direction: column;
     overflow-y: scroll;
     width: 100%;
     transition: all 0.5s ease;
     padding-left: 64px;
 }

 .wrap::-webkit-scrollbar {
     z-index: 0;
 }







 .content {
     width: 100%;
     display: flex;
     flex-direction: column;
 }



 /*css sider*/

 .sider {
     width: 20%;
     height: 100%;
     border-right: var(--primary-color) solid 1px;
     padding: 32px 0;
     position: absolute;
     left: 0;
     background-color: var(--siderbar-color);
     transition: all 0.5s ease;
     z-index: 999;
 }




 .navbar-title {
     min-width: 270px;
     text-align: center;
     transition: all 0.1s ease;
     opacity: 1;
     white-space: nowrap;
 }

 .title {
     font-size: var(--font-laptop-title);
     font-weight: bold;
     color: var(--primary-color);
 }





 .toggle {
     color: var(--toggle-color);
     height: var(--font-laptop-icon);
     width: var(--font-laptop-icon);
     background: var(--primary-color);
     border-radius: 20px;
     text-align: center;
     font-size: var(--font-laptop-title);
     position: absolute;
     right: -14px;
     top: 120px;
     z-index: 99;
     cursor: pointer;
     transition: all 0.5s ease;
     display: flex !important;
     justify-content: center;
     align-items: center;
 }

 .sider .divider {
     border-bottom: 1px var(--primary-color) solid;
     margin: 16px 32px;
 }

 .sider ul {
     padding-left: 0;
     height: 400px;
     overflow-y: scroll;
 }

 .sider ul::-webkit-scrollbar {
     display: none;
 }

 .sider ul {
     -ms-overflow-style: none;

     scrollbar-width: none;

 }

 .sider .menu-title {
     font-size: 24px;
     width: 100%;
     justify-content: center;
     display: flex;
     color: var(--text-color);
     transition: all 0.1s ease;
     opacity: 1;
 }

 .sider li {
     padding: 0 16px;
     list-style: none;
     height: 50px;
     margin-top: 8px;
     display: flex;
     align-items: center;
     width: 100%;
 }

 .sider li :hover {
     border-radius: 5px;
     background: var(--primary-color-light);
 }

 .sider li .icon {
     font-size: var(--font-laptop-title);
     color: var(--text-color);
     min-width: 50px;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .sider li :hover .text {
     color: #0f0f0f;
 }

 .sider li .text {
     color: var(--text-color);
     transition: all 0.4 ease;
     font-size: var(--font-laptop-text);
     opacity: 1;
     white-space: nowrap;
     margin: 0 16px;
 }

 .sider li a {
     text-decoration: none;
     display: flex;
     align-items: center;
     height: 100%;
     width: 100%;
 }

 .sider .mode {
     display: flex;
     align-items: center;
     flex-direction: row;
     position: absolute;
     background-color: var(--primary-color-light);
     height: 50px;
     width: 100%;
     bottom: 0;
     margin: auto;
     padding: 16px;
     cursor: pointer;
 }

 .sider .mode .moon-sun {
     height: 100%;
     display: flex;
     align-items: center;
 }

 .sider .mode i {
     position: absolute;
     font-size: var(--font-laptop-title);
     left: 10%;
     color: var(--text-color);
     transition: all 0.4s ease;
 }

 .sider .mode .moon {
     opacity: 0;
 }


 .sider .mode span {
     font-size: 14px;
     color: var(--text-color);
     width: 50%;
     display: flex;
     justify-content: center;
     font-weight: 700;
     opacity: 1;
     transition: all 0.4s ease;
     margin: 0 32px;
     white-space: nowrap;
 }


 .sider .mode .toggle-switch {
     height: 32px;
     background: var(--primary-color);
     width: 64px;
     display: flex;
     align-items: center;
     padding: 0 8px;
     border-radius: 30px;
     position: relative;
     opacity: 1;
     transition: all 0.4s ease;

 }



 .sider .mode .toggle-switch .switch {
     height: 24px;
     width: 24px;
     background: var(--primary-color-light);
     border-radius: 30px;
     position: absolute;
     transition: all 0.2s ease;
     left: 8px;
 }

 /*Sider close*/
 .sider.close {
     width: 82px;
 }

 .sider.close .text {
     opacity: 0;
 }

 .sider.close .navbar-title {
     opacity: 0;
 }

 .sider.close .menu-title {
     opacity: 0;
 }

 .sider.close .mode span {
     opacity: 0;
 }

 .sider.close .mode .toggle-switch {
     opacity: 0;
 }

 .sider.close .mode i {
     left: 28px !important;
 }

 .sider.close .toggle {
     transform: rotateZ(180deg);
 }





 /*Dark Mode*/

 body.dark .switch {
     left: 32px !important;
 }


 body.dark .moon {
     opacity: 1 !important;
 }

 body.dark .sun {
     opacity: 0;
 }





 @media only screen and (max-width: 1120px) {
     .title {
         font-size: var(--font-mobile-title);
     }

     .sider {
         width: 512px;
     }

     .toggle {
         height: var(--font-mobile-icon);
         width: var(--font-mobile-icon);
         font-size: var(--font-mobile-title);
         right: -32px;
         top: 192px;
     }

     .sider .divider {

         margin: 32px 64px;
     }

     .sider ul {

         height: 800px;

     }

     .sider li {

         height: 100px;

     }

     .sider li .icon {
         font-size: var(--font-mobile-text);

     }

     .sider li .text {
         font-size: var(--font-mobile-text);
     }

     .sider .mode {

         height: 100px;
     }

     .sider .mode span {
         font-size: 24px;
     }

     .sider .mode i {

         font-size: var(--font-mobile-title);

     }

     .sider.close {
         width: 100px;
     }


 }