/*css book card*/


.book {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 16px 32px 0 32px;
    border-radius: 32px;
    transition: all .2s ease-in;
    height: 192px;
    color: var(--text-color);
    width: 350px;
}

.thumnail {
    margin-right: 16px;
    border-radius: 5px;
    transform: translate(0, -50px) scale(0.8);
    transition: all .2s ease-in;
    width: 128px;
}

.info-book {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.book-name {

    white-space: nowrap;
    font-size: var(--font-size-title-small);
    font-weight: bold;
    margin-bottom: 16px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;

}


.author-name {
    font-size: var(--font-size-small);
    font-weight: 300;
    margin-bottom: 16px;
    transition: all .2s ease-in;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail {
    color: inherit;
    transition: all .2s ease-in;
    font-size: var(--font-size-small);
}

.detail:hover {
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.book:hover {
    transform: translateY(-16px);
    box-shadow: 1px 1px 8px 1px #999;
}

.thumnail:hover {
    transform: scale(1) translate(0, -70px);
    box-shadow: 1px 1px 8px 1px #999;
}

@media only screen and (max-width: 1120px) {


    .author-name {
        font-size: var(--font-mobile-text);
    }

    .book-name {
        font-size: var(--font-mobile-text);
    }

    .detail {
        font-size: var(--font-mobile-text);
    }

    .thumnail {
        width: 192px;
    }

    .book {

        height: 256px;
        min-width: 600px;
    }

    .book-name {
        max-width: 320px;
    }
}