.wrap {
    padding-top: 64px;
    min-height: 100vh;

}

.content {
    width: 100%;
    height: 100%;
    padding-bottom: 128px;
    background-color: var(--light-background-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.thumbnail {
    width: 300px;
    margin: 64px 128px;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all .2s ease-in-out;
}

.thumbnail:hover {
    transform: scale(1.2);
}

.info-book {
    display: flex;
    flex-direction: column;
    margin: 128px 0;
    gap: 16px;
    width: 50%;
}

.sub-title {
    font-style: italic;
    font-size: var(--font-size-small);
    margin-right: 8px;
    text-decoration: underline;
    transition: all .2s ease-in-out;
}

.sub-content {
    font-size: var(--font-size-small);
    font-weight: 500;
    transition: all .2s ease-in-out;
}

#book-title {
    font-size: var(--font-size-title-small);
    font-weight: 900;
    transition: all .2s ease-in-out;
}

.book-description {
    font-size: var(--font-size-small);
    margin: 0 64px;
    padding: 32px;
    border-top: solid 1px var(--light-loading-color);
    text-indent: 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: justify;
    transition: all .2s ease-in-out;
}

@media only screen and (max-width: 1120px) {
    .content {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .thumbnail {
        width: 300px;
        margin-top: 128px;
        align-self: center;
    }

    .info-book {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 16px;
        width: 80%;
        margin-bottom: 64px;

    }

    #book-title {
        font-size: var(--font-size-title-large);
        font-weight: 900;
        text-align: center;
        margin: 32px auto;

    }

    .sub-content {
        font-size: var(--font-size-large);
    }

    .sub-title {
        font-size: var(--font-size-large);
    }

    .book-description {
        font-size: var(--font-size-large);
        width: 90%;
        margin: auto;
        padding: 32px;
        border-top: solid 1px var(--light-loading-color);
    }
}

@media only screen and (max-width: 1120px) {
    .wrap {
        padding-top: 128px;
    }
}