<!-- views/partials/header.ejs -->

<nav class="navbar ">

    <a href="/home" class="nav-link">
        <div class="navbar-title ">
            <span class="title">BOOK INTRODUCE</span>
        </div>
    </a>

    <i class="bi bi-brightness-high-fill change-theme"></i>
</nav>