<!-- views/partials/header.ejs -->

<nav class="navbar ">

    <a href="/home" class="nav-link">
        <div class="navbar-title ">
            <span class="title">BOOK INTRODUCE</span>
        </div>
    </a>

    <div class="search-control">
        <select id="filterSelect" name="filterBy">
            <option value="name" selected>Tên</option>
            <option value="author">Tác giả</option>
            <option value="publisher">NXB</option>
        </select>
        <i class="bi bi-search" id="searchBtn"></i>
        <input type="text" class="input-search" id="searchInput">
    </div>
    <i class="bi bi-brightness-high-fill change-theme"></i>
</nav>