<!-- views/partials/header.ejs -->

<nav class="navbar ">

    <a href="/home" class="nav-link">
        <div class="navbar-title ">
            <span class="title">BOOK INTRODUCE</span>
        </div>
    </a>

    <div class="search-control">
        <i class="bi bi-search"></i>
        <input type="text" class="input-search">
    </div>
    <i class="bi bi-brightness-high-fill change-theme"></i>
</nav>