<div class="sider close">
    <header>

        <div class="navbar-title ">
            <a href="/home" class="nav-link">
                <span class="title">BOOK INTRODUCE</span>
            </a>
        </div>

    </header>
    <i class='bx bx-chevron-left toggle'></i>
    <div class="menu">
        <li class="nav-link">
            <a href="/home#search">
                <i class=" icon bx bx-search"></i>
                <span class="text">Tìm kiếm</span>
            </a>
        </li>
        <div class="divider"></div>
        <span class="menu-title">
            CATEGORY
        </span>
        <ul class="menu-links">
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>

            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='icon bx bx-book-alt'></i>
                    <span class="text">Tiểu thuyết</span>
                </a>
            </li>

        </ul>
    </div>
    <div class="mode">
        <div class="moon-sun">
            <i class='bx bx-moon  moon'></i>
            <i class='bx bx-sun sun'></i>
        </div>
        <span>DARK MODE</span>
        <div class="toggle-switch">
            <div class="switch"></div>
        </div>
    </div>
</div>