<div class="sider close">
    <header>

        <div class="navbar-title ">
            <a href="/home" class="nav-link">
                <span class="title">BOOK INTRODUCE</span>
            </a>
        </div>

    </header>

    <i class="fa-solid fa-caret-left toggle"></i>
    <div class="menu">
        <li class="nav-link">
            <a href="/home#search">
                <i class="icon fa-solid fa-magnifying-glass"></i>
                <span class="text">Search</span>
            </a>
        </li>
        <div class="divider"></div>
        <span class="menu-title">
            CATEGORY
        </span>
        <ul class="menu-links">
            <% categories.forEach(cat=>{%>
                <li class="nav-link">
                    <a href="/filter?subject=<%=cat.subject%>">
                        <i class="icon  <%=cat.icon%>"></i>
                        <span class="text">
                            <%=cat.name%>
                        </span>
                    </a>
                </li>
                <% }) %>



        </ul>
    </div>
    <div class="mode">
        <div class="moon-sun">
            <i class="fa-solid fa-moon moon"></i>
            <i class="fa-regular fa-sun sun"></i>
        </div>
        <span>DARK MODE</span>
        <div class="toggle-switch">
            <div class="switch"></div>
        </div>
    </div>
</div>